{% extends "layout.html" %}

{% block content %}

  <div class="row mt-5 mb-2">
    <div class="col">
      <p>Todas as tags</p>
      </div>
      <div class="col">
      <a class="btn btn-primary float-end" href="{{ url_for('tags.add') }}">Nova tag</a>
    </div>
 </div>
  <table class="table table-striped bg-white">
    <thead>
      <tr>
        <th scope="col" width="80%">Nome</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
    {% if tags.items %}
    {% for tag in tags.items %}
      <tr>
        <td class="align-middle">
          {{ tag.name }}
        </td>
        <td align="right">
          <a class="btn btn-info btn-sm text-white mt-1 mb-1" href="{{ url_for('tags.edit', tag_id=tag.id) }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>          
          </a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteTagModal" data-bs-id="{{ tag.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg>
          </button>
        </td>
      </tr>
    {% endfor %}
    {% else %}
      <tr>
        <td colspan="2">
          Não há resultados. 
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
  {% if tags %}
    {% if tags.pages > 1 %}
      <nav>
        <ul class="pagination">
          <li class="page-item {% if tags.page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('tags.list', page=tags.prev_num) }}" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          {% for page_num in tags.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
              {% if tags.page == page_num %}
                <li class="page-item active"><a class="page-link" href="{{ url_for('tags.list', page=page_num) }}">{{ page_num }}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{{ url_for('tags.list', page=page_num) }}">{{ page_num }}</a></li>
              {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
          {% endfor %}
          <li class="page-item {% if tags.page == tags.pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('tags.list', page=tags.next_num) }}">Next</a>
          </li>
        </ul>
      </nav>
    {% endif %}
  {% endif %}

  <!-- Modal Delete Tag -->
  <div class="modal fade text-dark" id="deleteTagModal" tabindex="-1" aria-labelledby="deleteTagModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteTagModalLabel">Remover a tag?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Clique em confirmar para remover a tag.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
          <form action="{{ url_for('tags.delete') }}" method="POST">
            <input type="hidden" name="tag_id" value="">
            <button type="submit" class="btn btn-primary">Confirmar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}