/*
 * Globals
 */

 html, body {
  height: 100%;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}


/*
 * Base structure
 */

home-not-logged {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  // box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*
 * Project custom
 */

.bagde-tag {
  font-size: 14px;
  padding: .35em .25em .35em .65em;

}

.bagde-tag .text{
  line-height: 1.5;
}

.bagde-tag .btn {
  line-height: 0;
  padding: 0.1rem .1em;
}

.btn-info-no-hover:hover {
  text-decoration: none;
  background-color: #0dcaf0;
}

.bagde-stars {
  padding: 0.55em .75em;
}

.toast {
  width: 300px;
}